/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #f8f8f8;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 10px;
    width: 50%;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles

font-family: 'Sarabun', sans-serif;
   ========================================================================== */

html, body {
    background-color:cornflowerblue;
    color: #f8f8f8;
    font-family: 'Sarabun', sans-serif;
    width: 100%;
    height: 100%;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    text-align: center;
}

button {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    margin: 5px auto;
    border: 1px solid #fff;
    border-radius: 1px;
    color: #fff;
    font-size: 1.2em;
    width: 80%;
    max-width: 300px;
    cursor: pointer;
}

button:hover {
    background-color: aliceblue;
    color: cornflowerblue;
    transition: background-color 0.5s;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li {
    margin-top: 5px;
}

.title {
    padding-top: 20px;
    margin-bottom: 0px;
    font-size: 1.5em;
}

.tagline {
    margin-top: 0px;
    font-size: 2.5em;
    padding: 10px;
}

@media(min-width: 500px){
    .title {
        padding-top: 50px;
    }
    
    .tagline {
        padding-top: 20px;
        margin-bottom: -20px;
    }
}

/*---------------------
FRONT PAGE 
----------------------*/
#front_page {
    display: block;
    width: 100%;
    
}

#front_page #copyright_footer {
    position: relative;
    margin: 0 auto;
    padding: 10px 0px;
}

/*---------------------
EDIT PAGE 
----------------------*/

#edit_page {
    margin: 0 auto;
    text-align: center;
    display: none;
}


#edit_page input {
    display: block;
    padding: 5px;
    width: 290px;
    margin: 3px auto;
    border-radius: 3px;
}

#edit_page #custom_form_submit_btn {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    margin: 5px auto;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    width: 80%;
    max-width: 300px;
    cursor: pointer;
}

/*---------------------
INFO PAGE 
----------------------*/
#more_info_page {
    display: none;
    padding-bottom: 20px;
}

#show_info_page_btn {
    margin-top: 30px;
}

#more_info_page p {
    width: 80%;
    margin: 10px auto;
    line-height: 1.5;
    padding: 10px 5px;
    text-align: justify;
    font-size: 1.1em;
}

@media (min-width: 500px){
   #more_info_page p {
        width: 50%;
        margin: 0 auto;
        line-height: 1.5;
        padding: 40px 10px;
        text-align: justify;
    } 
}

/*---------------------
WORKOUT PAGE 
----------------------*/

#workout_page {
    display: none;
}

#wrapper #page_header {
    
    height: 50px;
    width: 100%;
    padding: 5px 20px 5px 20px;
}

#wrapper #page_header a {
    display: inline-block;
    position: absolute;
    left: 10px;
    color: #f8f8f8;
    text-decoration: none;
    width: 50px;
}

#page_header #total_exercise_count {
    display: inline-block;
    position: absolute;
    right: 10px;
    color: #f8f8f8;
    width: 50px;
    
}


#page_content {
    margin: 0 auto 50px auto;
    width: 50%;
    padding: 20px 0px 20px 0px;
    
}

#page_content #exercise_title {
    font-size: 2.5em;
    margin: 0 auto;
    width: 80%;
    text-transform: capitalize;
    padding: 20px 5px;
}

#page_content #exercise_count {
    font-size: 5em;
    margin: 0 auto;
    text-transform: uppercase;
}

@media(min-width: 768px){
    #page_content #exercise_title {
        padding-top: 10px;
        font-size: 4em;
    }
    #page_content #exercise_count {
        font-size: 3.5em;
        margin: 0 auto;
        text-transform: uppercase;
    }
}

@media(min-width: 900px){
    #page_content #exercise_title {
        padding-top: 10px;
        font-size: 5em;
    }
    #page_content #exercise_count {
        font-size: 4.5em;
        margin: 0 auto;
        text-transform: uppercase;
    }
}


#page_footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;   
}

#page_footer #workout_timer {
    font-size: 1.5em;
    padding-bottom: 10px;
}

#page_footer #workout_btn_options {
    list-style: none;
    
}

#page_footer #workout_btn_options li {
    display: inline-block;
    
    margin: 0px;
    padding: 0px;
}

#page_footer #workout_btn_options li button {
    width: 150px;
    border-radius: 0px;
    margin: 0 auto;
}


/*---------------------
STATS PAGE 
----------------------*/

#stats_page {
    padding: 10px;
    display: none;
}

#stats_page .title {
    font-size: 3em;
    padding: 10px;
}

#stats_page .tag-line {
    font-size: 2em;
    margin-top: -10px;
}

#stats_page ul {
    list-style: none;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#stats_page ul li {
    display: block;
    position: relative;
    padding: 10px;
}

#stats_page ul li span {
    display: block;
    font-size: 2em;
}

@media (min-width: 768px){
    #stats_page ul li {
        display: block;
        position: relative;
        padding: 10px;
        text-align: left;
    }

    #stats_page ul li span {
        position: absolute;
        right: 10px;
        display: inline;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
